<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB 1</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/1-hbnb.js?f834413e-0aa9-4767-b64a-c92db9cb1f82"></script>
</head>
<body>
    <h1>HBNB 1</h1>
    <ul id="amenities_list">
        <li><input type="checkbox" data-id="1" data-name="Wifi"> Wifi</li>
        <li><input type="checkbox" data-id="2" data-name="Parking"> Parking</li>
    </ul>
    <div id="selected_amenities">
        <h2>Selected Amenities:</h2>
        <h4 id="amenities_text"></h4>
    </div>
</body>
</html>
