<!DOCTYPE html>
<html lang="en">
<head>
    <title>Holberton School</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/101-hbnb.js"></script>
</head>
<body>
    <header>
        Locations
    </header>
    <br />
    <section class="locations">
        <h4>Amenities:</h4>
        <ul class="amenities">
            <!-- Amenity list will go here -->
        </ul>
        <h4>States:</h4>
        <ul class="states">
            <!-- State list will go here -->
        </ul>
        <h4>Cities:</h4>
        <ul class="cities">
            <!-- City list will go here -->
        </ul>
        <h2>Reviews<span id="toggle_reviews">show</span></h2>
        <ul class="reviews">
            <!-- Review list will go here -->
        </ul>
    </section>
    <footer>
        Holberton School - 2017
    </footer>
</body>
</html>
