<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB 2</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/scripts/2-hbnb.js?e211c9eb-7d17-4f12-85eb-4d50fa50cb1d"></script>
</head>
<body>
    <header> 
        <div id="api_status"></div>
        <h1>HBNB 2</h1>
    </header>
    <ul id="amenities_list">
        <li><input type="checkbox" data-id="1" data-name="Wifi"> Wifi</li>
        <li><input type="checkbox" data-id="2" data-name="Parking"> Parking</li>
    </ul>
    <div id="selected_amenities">
        <h2>Selected Amenities:</h2>
        <h4 id="amenities_text"></h4>
    </div>
</body>
</html>
